{% extends "base.html" %}

{% block content %}
<div class="journey-text">DuGiaVan's New Journey</div>
<div class="center-number">
    <span>202</span>
    <div class="morph-container">
        <div class="morph-list" id="morph-list">
            <div class="digit">5</div>
            <div class="digit">6</div>
        </div>
    </div>
</div>
<div class="sub-description">Just a guy with a 4GB RAM and a big dream.</div>

<a href="/bio" class="explore-btn">Explore More</a>
{% endblock %}